<section class="bg-mainos">
  <div class="container ">
    <div class="row ">
      <p class="lead text-dark pt-5">Nouveaux articles</p>

      <div class="d-flex flex-lg-row flex-column">
        <% articles.where(buyer: nil).last(4).each do |article| %>
          <div
            class="cardos border border-2 border-dark zoom rounded-0 mb-5"
            style="width: 15rem;"
          >
            <div class="text-dark">
              <p class="fw-bold"><%= article.title %></p>
            </div>
            
            <% if article.console == "SEGA" && current_user %>
        <%= link_to image_tag("http://atlas-content-cdn.pixelsquid.com/stock-images/nintendo-nes-console-game-xwVG4NC-600.jpg", size: "200x300"), article_path(article) %>
        <% elsif article.console == "PS1" && current_user %>
        <%= link_to image_tag("https://atlas-content-cdn.pixelsquid.com/assets_v2/193/1936372297870873864/jpeg-600/G03.jpg?modifiedAt=1", size: "200x300"), article_path(article) %>
        <% elsif article.console == "SNES" && current_user %>
        <%= link_to image_tag("http://atlas-content-cdn.pixelsquid.com/stock-images/super-nintendo-snes-kovW238-600.jpg", size: "200x300"), article_path(article) %>
        <% end %>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="clearfix mb-3">
                <% if article.console == "SEGA" %>
              <span class="float-start badge rounded-pill bg-primary"><%= article.console %></span>
              <% elsif article.console == "SNES" %>
              <span class="float-start badge rounded-pill bg-danger"><%= article.console %></span>
              <% elsif article.console == "PS1" %>
              <span class="float-start badge rounded-pill bg-dark"><%= article.console %></span>
              <% end %>
              <span class="float-end price-hp fw-bold text-dark "><%= article.price %> €</span>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
